
.navbar-collapse{
    padding-left: 500px;
    margin-bottom: 50px;
}
.navbar-collapse a{
    color: rgb(6, 187, 187);
    padding-right: 10px;
}
.itembox{
    padding: 0 6px;
    float: left;
    width: 20%;
    padding-left: 30px;
    height: 393px;
}
.itemimg img{
    width: 100%;
    height: auto;
}
.itemimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.itembox {
  border: 1px solid #ccc;
}
.watchesContainer h3:first-child{
    text-align: center;
    color: rgb(6, 187, 187);
}
.itembox:hover {
  border: 1px solid #777;
}
.itemcontent{
    padding: 15px;
    text-align: center;
}