
.d-flex input{
    width: 700px;
    margin-left: 350px;
}
.card-body a{
    text-decoration: none;
}
.sub-total{
    border-top: 1px solid silver;
}
.sub-total p{
    color: #000000;
    font-size: 20px;
    padding:20px 0px;
    border-bottom:  1px solid silver;
}
.empty-cart {
    font-size: 30px;
}