
.navbar-collapse ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar-collapse li {
    display: inline;
}
.navbar-collapse{
    padding-left: 500px;
    margin-bottom: 50px;
}
.navbar-collapse a{
    color: black;
    padding-right: 10px;
}
.itembox{
    float: left;
    width: 20%;
    height: 393px;
    margin: 30px 30px;
}
.itemimg img{
    width: 100%;
    height: auto;
}
.itemimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.itembox {
    border: 2px solid #73AD21;
}
.watchesContainer h3:first-child{
    text-align: center;
    color: rgb(6, 187, 187);
}
.itembox:hover {
    border: 1px solid #777;
}
.itemcontent{
    padding: 15px;
    text-align: center;
}